*{
	font-size:15px;
}
#manage{
 	width:100%;
 	height:100%;
}
#header{
	margin:10px;
	width:400px;
	height:200px;	
}
#header input{
	width:200px;
	height:32px;
}
#table{
	margin-left:100px;
	width:1300px;
	height:400px;
	position: absolute;
}